.dashboard {
  padding: 72px;

  padding-left: 15%;
  padding-right: 15%;
  .description {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .text-light {
      font-size: 14px;
      line-height: 18px;
    }
    .btn {
      width: 100px;
    }
    div {
      max-width: 70%;
    }
  }
  .main-content {
    background-color: white;

    border: 1.5px solid rgba(196, 196, 196, 0.51);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 36px 24px;
    display: flex;
    .sidebar {
      width: 35%;
      // border: 1.5px solid #e5eaf3;
      box-sizing: border-box;
      border-radius: 8px;
      padding: 24px;
      padding-top: 5px;
    }
    .stat {
      display: flex;
      justify-content: space-between;
      padding-right: 10%;
      margin-bottom: 20px;
      p {
        display: flex;
        align-items: center;
      }
      span {
        color: $primary;
        display: flex;
        align-items: center;
      }
      span.text-light {
        color: #222 !important;
      }
    }
    .stats {
      p {
        padding: 10px 0;
        span {
          color: rgb(8, 245, 8);
        }
      }
    }
    .right-content {
      p {
        font-weight: 700;
      }
    }
    .w-40 {
      .graph {
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
  }

  .input_cont {
    padding-left: 25px;
    border-color: #c4c4c4 !important;
    overflow: hidden;

    input {
      height: 35px;
      width: 94%;
      border: none;
      outline: none;
      margin-left: 5px;
      font-size: 1.2rem;

      &::placeholder {
        color: gray;
        // font-size: 1.05rem;
        // opacity: 0.6;
        font-size: 16px;
      }
    }
  }

  .staking-content {
    background-color: white;
    border: 1.5px solid rgba(196, 196, 196, 0.51);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 36px 24px;

    .styled-table {
      margin-top: 20px;
      border-collapse: collapse;

      thead tr {
        text-align: left;
        color: gray;
        border-bottom: 1px solid;
      }

      th {
        padding: 13px 50px 13px 0px;
      }
      td {
        padding: 5px 0px;
      }

      tbody tr:nth-child(2) {
        border-bottom: 1px solid #cec;
      }

      tbody tr {
        // border-bottom: 1px solid #cec;

        td:nth-child(4) {
          color: rgb(8, 245, 8);
        }
      }

      // tbody tr:nth-child(n)  {
      //   border-bottom: none;
      // }
    }
  }
  .yield-content {
    background-color: white;
    border: 1.5px solid rgba(196, 196, 196, 0.51);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 36px 24px;

    .styled-table {
      border-collapse: collapse;
      margin-top: 20px;

      thead tr {
        text-align: left;
        color: gray;
        border-bottom: 1px solid;
      }

      th {
        padding: 10px 10px 10px 0px;
      }
      td {
        padding: 5px 10px 5px 0px;
      }

      tbody tr tr:nth-child(2) {
        border-bottom: 1px solid #cec;
      }

      tbody tr {
        // border-bottom: 1px solid #cec;

        td:nth-child(6) {
          color: rgb(8, 245, 8);
        }
        // td:nth-child(7) {
        //   text-align: center;
        // }

        .table_data {
          text-align: center;
        }
      }
    }
  }
  .pool_stats_container {
    background-color: white;
    border: 1.5px solid rgba(196, 196, 196, 0.51);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 36px 24px;
    .stats {
      p {
        padding: 10px 0;
      }
    }
    .right-content {
      p {
        font-weight: 700;
      }
    }
    .chart {
      border-left: 1px solid #000;
    }
  }
}
