.btn {
  min-width: 180px;
  width: 100%;
  padding: 0 20px;
  height: 52px;
  border-radius: 5px;
  font-size: 18px;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}
.btn-primary {
  background-color: $primary;
  color: white;

  &:hover {
    background-color: $primary-hover;
  }
  &:disabled {
    background-color: #01318a75;
  }
}
.btn-primary-negative {
  background-color: $negative;
  color: white;
}

.btn-secondary {
  color: $secondary-text;
  background-color: #e5eaf3;
  &:hover {
    background-color: #d1d9ea;
  }
  &:disabled {
    opacity: 0.4;
  }
}

.btn-secondary-negative {
  color: $negative;
  background-color: lighten($color: $negative, $amount: 38);
  &:hover {
    background-color: lighten($color: $negative, $amount: 30);
  }
}

.btn-outline {
  border: 2px solid #d1d9ea;
  color: $secondary-text;

  &:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  }
  &:disabled {
    opacity: 0.4;
  }
}
.btn-black {
  color: white;
  background-color: $black;
  &:hover {
    border: 1px solid $black;
    color: $black;
    background-color: transparent;
    transform: scale(0.93);
  }
}

.btn-gray {
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: darken($color: #eaeaea, $amount: 20);
  }
}

// padding

// headings
.heading {
  font-size: 65px;
  font-weight: 600;
  line-height: 82px;
  letter-spacing: -0.03em;
}
.heading-small {
  font-size: 50px;
  font-weight: 600;
  line-height: 63px;
  letter-spacing: -0.05em;
}
.heading-smaller {
  font-size: 24px;
  line-height: 29px;
}
.font-large {
  font-size: 24px;
  font-weight: 600;
  line-height: 63px;
  letter-spacing: -0.05em;
}
.font-regular {
  font-size: 18px;
}

.font-bold {
  font-weight: bold;
}
.text-light {
  color: #808080;
  font-weight: 400;
  // line-height: 28px;
  letter-spacing: -0.03em;
}
.text-small {
  font-size: 16px;
}
.text-smaller {
  font-size: 14px;
}
.color-white {
  color: #ffffff;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

// border

.bord-1 {
  border: 1px solid gray;
}
.bord-rad-1 {
  border: 1px solid #000;
  border-radius: 25px;
}
.bord-rad-10 {
  border-radius: 10px;
}

.bord-right {
  border-right: 1px solid #000;
}
.bord-left {
  border-left: 1px solid #000;
}
.bord-green {
  border: 2px solid green;
}

// font color

.tcolor-green {
  color: green;
}

//background -color
.bg-light-green {
  background-color: rgba(22, 245, 40, 0.23);
}
.bg-green {
  background-color: green;
}

//flex
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

//width
.fit-content {
  width: fit-content !important;
}
.w-25 {
  width: 25%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-75 {
  width: 75%;
}
.w-80 {
  width: 80%;
}
.w-85 {
  width: 85%;
}
.w-90 {
  width: 90%;
}
.w-100 {
  width: 100%;
}

// height

.h-10 {
  height: 10%;
}
.h-20 {
  height: 20%;
}
.h-30 {
  height: 30%;
}
.h-40 {
  height: 40%;
}
.h-50 {
  height: 50%;
}
.h-60 {
  height: 60%;
}
.h-70 {
  height: 70%;
}
.h-80 {
  height: 80%;
}
.h-90 {
  height: 90%;
}
.h-100 {
  height: 100%;
}

//margin

.mb-1 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mb-3 {
  margin-bottom: 30px;
}
.mb-4 {
  margin-bottom: 40px;
}
.mb-5 {
  margin-bottom: 50px;
}
.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}
.mt-4 {
  margin-top: 40px;
}
.mt-5 {
  margin-top: 50px;
}
.mr-1 {
  margin-right: 10px;
}
.mr-2 {
  margin-right: 20px;
}
.mr-3 {
  margin-right: 30px;
}
.mr-4 {
  margin-right: 40px;
}
.mr-5 {
  margin-right: 50px;
}
.ml-1 {
  margin-left: 10px;
}
.ml-2 {
  margin-left: 20px;
}
.ml-3 {
  margin-left: 30px;
}
.ml-4 {
  margin-left: 40px;
}
.ml-5 {
  margin-left: 50px;
}

// padding

.pb-half {
  padding-bottom: 5px;
}
.pb-1 {
  padding-bottom: 10px;
}
.pb-2 {
  padding-bottom: 20px;
}
.pb-3 {
  padding-bottom: 30px;
}
.pb-4 {
  padding-bottom: 40px;
}
.pb-5 {
  padding-bottom: 50px;
}
.pt-half {
  padding-top: 5px;
}
.pt-1 {
  padding-top: 10px;
}
.pt-2 {
  padding-top: 20px;
}
.pt-3 {
  padding-top: 30px;
}
.pt-4 {
  padding-top: 40px;
}
.pt-5 {
  padding-top: 50px;
}
.pr-half {
  padding-right: 5px;
}
.pr-1 {
  padding-right: 10px;
}
.pr-2 {
  padding-right: 20px;
}
.pr-3 {
  padding-right: 30px;
}
.pr-4 {
  padding-right: 40px;
}
.pr-5 {
  padding-right: 50px;
}
.pl-half {
  padding-left: 5px;
}
.pl-1 {
  padding-left: 10px;
}
.pl-2 {
  padding-left: 20px;
}
.pl-3 {
  padding-left: 30px;
}
.pl-4 {
  padding-left: 40px;
}
.pl-5 {
  padding-left: 50px;
}
