.dashboard {
  .MuiTablePagination-selectRoot {
    display: none;
  }
  .MuiPaper-elevation2 {
    box-shadow: none;
    border-bottom: none;
  }
  .MuiTablePagination-root {
    border-bottom: 0;
  }
}
